.tags{
  height: 40px; 
  width: 150px;
  text-align: center; 
  line-height: 40px;
  font-size: 12px;
}
.heard{
  display: flex;
  width: 100%s;
}
.category{
  width: 10rem;
}
.shop{
  margin-left: .625rem
}
.type{
  margin-left: .3125rem;
}
.dark{
  background-color: #d9d9d9!important;
}

.tagStyle{
  cursor:pointer;
}